<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
  <head>
    {% include "includes/header.html" with greeting="Лев Толстой – зеркало русской революции." %}
    <link rel="stylesheet" href="templates/posts/css/bootstrap.min.css">
  </head>
  <body>
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        {% for post in posts %}
          {% if forloop.first %}
            <h1>Лев Толстой – зеркало русской революции.</h1>
            <p>{{ group.title }}</p>
          {% endif %}

          <article>
            <ul>
              <li>
                Автор: {{post.author}}
              </li>
              <li>
                Дата публикации: {{post.pub_date}}
              </li>
            </ul>      
            <p>{{ post.text }}</p>         
          </article>
          {% if not forloop.last %}
            <p><hr></p>
          {% endif %}
        {% endfor %}
        <!-- под последним постом нет линии -->
      </div>  
    </main>
    <footer>
      {% include 'includes/footer.html' %} 
    </footer>
  </body>
</html>